/* fixed */
:root {
    --primary-color: #844ae2;
    --secondary-color: #7700ce;
    --tertiary-color: #7700ac;
    --text-color: #fff;
    --btn-color: #800fff;
    --btn-hover-color: #800ccc;
}

html {
    scroll-behavior: smooth;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: 'Impact', sans-serif;
    background-color: black;
    background-image: url(../images/backgrounds/BG.webp);
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: filter 0.3s ease;
}

/* Nav Bar */
#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    gap: 5px;
    z-index: 1000;
    box-sizing: border-box;
}

#nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    margin-left: 10px;
}

#nav-logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex: 0 1 auto;
}

#nav-logo a {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
    background: none;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    transition: filter 0.1s ease-in-out;
}

#nav-logo a:hover {
    background-color: #fff;
    filter: invert(1) hue-rotate(140deg);
    opacity: 1;
}

#nav-logo a:hover #nav-images img:not(.abs-images) {
    opacity: 0;
}

#nav-logo a:hover #nav-images .abs-images {
    opacity: 1;
}

#nav-images {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#nav-images img:not(.abs-images) {
    opacity: 1;
    transition: opacity 0.3s;
}

#nav-images .abs-images {
    opacity: 0;
    transition: opacity 0.1s;
}

#nav-logo h1 {
    font-size: 90%;
}

.nav-links {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    flex: 0 1 auto;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 8px;
    min-width: 100px;
    border-radius: 10px;
    border: 1px black solid;
    transition: background-color 0.1s, color 0.1s, filter 0.1s;
}

.nav-links a:hover {
    background-color: #000;
    color: #fff;
}

.abs-images {
    position: absolute;
    opacity: 0;
}

.abs-images:hover {
    opacity: 1;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 120px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.hero-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: #d4d4d4;
    margin-bottom: 30px;
}

.hero-btn {
    padding: 12px 25px;
    font-size: 1.1rem;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--btn-color);
    color: white;
    transition: 0.3s ease;
}

.hero-btn:hover {
    background-color: var(--btn-hover-color);
}

/* Main */

#container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 20px;
}

#master {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 120px;
    border-radius: 10px;
}

.masters-titles {
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    text-transform: uppercase;
}

#master-container {
    display: flex;
    overflow: hidden;
    gap: 20px;
    padding: 10px 10px;
    margin-top: 20px;
    align-items: center;
}

.master-box1 {
    flex-basis: 50%;
    order: 1;
    flex-grow: 200px;
    margin-top: 10px;
}

.cardtop {
    background: linear-gradient(to top, darkmagenta, darkviolet);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 100px;
}

#image-profile {
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: calc(50% - 75px);
    height: auto;
    width: 150px;
}

.cardbottom {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-end-end-radius: 2pc;
    border-end-start-radius: 2pc;
    padding: 10px;
}

#master-box2 {
    flex-basis: 30%;
    order: 2;
    margin-top: 10px;
}

.skills {
    background-color: #fff;
    border-radius: 1pc;
    align-items: center;
    margin-bottom: 10px;
}

.skills h2 {
    text-align: center;
    padding: 5px;
}

.skills ul {
    margin-left: 15px;
    padding: 10px;
}

.interests {
    background-color: #fff;
    border-radius: 1pc;
    width: auto;
    height: auto;
    align-items: center;
    margin-bottom: 10px;
}

.interests h2 {
    text-align: center;
    padding: 5px;
}

.interests ul {
    margin-left: 15px;
    padding: 10px;
}

#master-box3 {
    flex-basis: 35%;
    order: 3;
}

.contacts {
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
}

.contacts h2 {
    text-align: center;
    padding: 5px;
}

.contacts-links {
    display: flex;
    overflow: hidden;
    gap: 10px;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.contacts-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #000;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.contacts-links a:hover {
    background-color: #fff;
    color: #000;
}



#master2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.master2-boxtitles {
    display: flex;
    background-color: #fff;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
    border-end-end-radius: 50px;
    border-end-start-radius: 5px;
    border-start-end-radius: 5px;
    border-start-start-radius: 50px;
    max-width: 90%;
    width: 80%;
    overflow: hidden;
}

.master2-box1 {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-around;
    padding: 10px;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    align-items: center; 
}

.master2-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
}

.proyects-boxs {
    padding: 10px;
    text-align: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    max-width: 400px;
}



#changes {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.changes-bottom {
    background-color: #fff;
    color: #000;
    text-align: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-around;
    padding: 10px;
    gap: 20px;
}

/* Clases Generales */

.sections {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    border-radius: 10px;
}

.cards {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.btns {
    padding: 10px;
    background-color: purple;
    color: #fff;
    border: 1px solid mediumvioletred;
    border-radius: 10px;
    text-decoration: none;
}

.btns:hover {
    background-color: darkviolet;
    opacity: 0.8;
    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.margin-t-5px {
    margin-top: 5px;
}

.margin-b-5px {
    margin-bottom: 5px;
}

.margin-t-10px {
    margin-top: 10px;
}

.margin-b-10px {
    margin-bottom: 10px;
}

.margin-t-15px {
    margin-top: 15px;
}

.margin-b-15px {
    margin-bottom: 15px;
}

.boxes {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    overflow: hidden;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.box-one, .box-two {
    flex: 1;
    max-width: 400px;
    overflow: hidden;
    border-radius: 15px;
    padding: 15px;
}

.boxes > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.link-url {
    color: #1010d4;
    text-decoration: none;
}

.link-url:hover {
    color: #8610d4;
    text-decoration: underline;
}

.links {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #000;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.links:hover {
    background-color: #fff;
    color: #000;
}

.links-div {
    display: flex;
    overflow: hidden;
    gap: 10px;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.links-div a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #000;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.links-div a:hover {
    background-color: #fff;
    color: #000;
}



/* Toggle Responsive */
@media (max-width: 800px) {
    #master {
        margin-top: 155px;
    }
    #contenedor {
        flex-direction: column;
    }
    #master-container {
        flex-direction: column;
        padding: 0;
    }
    .master2-box1 {
        flex-direction: column;
        align-items: center;
    }
    .master2-box2 {
        flex-direction: column;
        align-items: center;
    }
    .boxes {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 710px) {
    #nav-bar {
        flex-direction: column;
    }
    #master-container {
        align-items: normal;
    }
}

@media (max-width: 500px) {
    body {
        align-items: stretch;
    }
    #nav-bar {
        flex-direction: row;
        padding: 5px 10px;
    }
    #nav-logo {
        flex: 1;
    }
    #nav-toggle {
        display: block;
    }
    #nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 10px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        z-index: 2000;
        min-width: 150px;
    }
    #nav-links.active {
        display: flex;
    }
    #nav-logo h1 {
        font-size: 16px;
        text-align: center;
    }
    #nav-bar {
        padding: 5px 10px;
    }
    #nav-logo a{
        flex-direction: column;
        gap: 0;
    }
    #nav-links {
        gap: 5px;
    }
    #nav-links a {
        font-size: 15px;
        padding: 7px 4px;
        min-width: 80px;
    }
}